body {
    margin: 0;
}

#header {
    background-image: radial-gradient(circle, #fa9c9c 0%,#ffbcbc 50%, #d99ef9dd 100%);
    margin-top: 50px;
}
#nameAndTitle h1,h2 {
    background-color: white;
    color: rgb(79, 79, 79);
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
h1 {
    font-family:'Grandiflora One';
    font-size: 50px;
    text-transform: uppercase;
}
h2 {
    font-family:'Inclusive Sans';
    text-transform: lowercase;
}
#contact {
    list-style-type: none;
}
#contact i{
    width: 30px; 
    margin-left: -20px;
    color:#fa9c9c;
}

#container {
    display: grid;
    grid-template-columns: 30% auto;
    margin: 80px;
}
#sidebar,#content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
h3{
    font-family: 'Montserrat';
    font-weight: 400;
    text-transform: uppercase;
}
.card {
    border: 2px solid #aeaeaeae;
    border-radius: 15px;
    margin-right: 40px;
    padding: 20px 40px 45px 40px;
}
#aboutMe{
    border: 2px solid #aeaeaeae;
    border-radius: 15px;
    margin-right: 40px;
    padding: 20px 40px;
}
#workExperiences{
    border: 2px solid #aeaeaeae;
    border-radius: 15px;
    margin-right: 40px;
    padding: 20px 40px;
}
#education{
    border: 2px solid #aeaeaeae;
    border-radius: 15px;
    margin-right: 40px;
    padding: 20px 40px;
}
p {
    font-family: 'Montserrat';
    line-height: 25px;
}
ul {
    font-family: 'Montserrat';
    line-height: 25px;
}
.title{
    color: #fa9c9c;
}